/* ------------------------- Clients & Partners ------------------------- */
.logo-blocks {
  margin: 0 -10px;
}

.logo-block {
  background-color: #fff;
  margin: 10px;
}

.logo-title {
  display: none;
  font-size: 0.9375rem;
  padding: 1.5rem;
  border-top: 1px solid var(--border-color-light);
  text-align: center;
}

.logo-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.logo-blocks .slick-arrow {
  top: 40%;
}
