/* ------------------------- Contacts ------------------------- */
.maps__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.maps__item {
  width: 49%;
}

.map-title,
.contacts-block-title {
  text-transform: uppercase;
  font-family: var(--font-extra);
  font-size: 1.3125rem;
  margin-bottom: 1rem;
}

.map iframe {
  width: 100%;
  height: 335px;
}

.contacts-blocks {
  margin-top: 4rem;
}

.contacts-blocks__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts-block-info {
  font-size: 0.9375rem;
  line-height: 1.6;
}

.contacts-block-info p {
  margin-bottom: .5rem;
}

.contacts-block-info p:last-child {
  margin-bottom: 0;
}
