/* ------------------------- Front page ------------------------- */
.front-hero {
  position: relative;
  background-color: var(--background-dark);
}

.front-hero__slide {
  display: none;
  background-repeat: no-repeat;
  background-position: bottom 0px right 0px;
  background-size: cover;
  color: black;
  animation: fadeIn .6s;
}

.front-hero__slide.is-active {
  display: block;
}

.front-hero__slide > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 6.25rem;
  height: 770px;
}

.front-hero__slide h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.front-hero__slide .body p {
  font-size: 1.125rem;
  line-height: 1.8;
}

.front-hero__slide .body .button {
  margin-top: 3.5rem;
}

.front-hero__tabs {
  position: absolute;
  bottom: 2rem;
  left: 0;
  width: 100%;
}

.front-hero__tabs__list {
  display: flex;
  justify-content: center;
}

.front-hero__tab {
  display: block;
  width: 49%;
  max-width: 420px;
  margin-right: 1.25rem;
  padding-top: 5px;
  border-top: 5px solid black;
  color: black;
  cursor: pointer;
  opacity: .5;
  transition: opacity .2s ease;
}

.front-hero__tab:last-child {
  margin-right: 0;
}

.front-hero__tab.is-active {
  opacity: 1;
}

.front-calc-container.container {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.calcforms-front {
  width: 47%;
  padding: 2.625rem 3.5rem;
  background-color: rgba(255, 255, 255, 0.7);
}

.front-hero .calculators__heading {
  padding: 0;
}

.front-hero .calculators__heading:before {
  display: none;
}

.front-hero .calculators__heading .tab {
  color: var(--background-dark);
}

.front-hero .calculators__heading .tab.is-active {
  color: var(--background-dark);
  border-color: var(--background-dark);
}

.front-hero .calculator-form {
  flex-direction: column;
}

.front-hero .calculator-form .form-item {
  width: 100%;
  margin-bottom: 15px;
}

.front-calc-results {
  width: 45%;
}

.front-calc-results .service__results {
  width: 100%;
  padding: 0;
  background: transparent;
}

.front-calc-results .service__results__title {
  display: none;
}

.service__results__data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service__results__data .row {
  margin: 0;
}

.front-calc-results .service__form {
  width: 100%;
  padding: 0;
  background-color: transparent;
}

.front-calc-results .service__form .form-item {
  margin-bottom: 15px;
}

.front-calc-results .agreement-field br {
  display: none;
}

.front-calc-results .agreement-field input {
  top: 2px;
}

.is-front .features .features__heading {
  text-align: center;
}

.front-text {
  padding: calc(var(--spacer) * 2.3) 0;
  background: url(../../img/front-text.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
}

.front-text__content {
  position: relative;
}

.front-text__content:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 500px;
  height: 500px;
  margin-top: -250px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='500' height='460' viewBox='0 0 500 460' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M499.5 83.5V1L1 41.5V459H499.5V408' stroke='%23EE0A0E'/%3E%3C/svg%3E");
}

.front-text .node-page {
  padding: 0 6.25rem;
}

.front-text .body h2 {
  font-size: 2.125rem;
}

.front-text .body h2 u {
  text-decoration: none;
  color: var(--base-color);
}

.front-text .body ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.front-text .body ul li {
  display: block;
  width: 48%;
}

.services-front {
  padding-top: var(--spacer);
}

.services-front .services-front__heading {
  font-family: var(--font-extra);
  font-size: 2.125rem;
  color: var(--base-color);
  margin-bottom: 3rem;
  text-align: center;
}

.products-front {
  padding: var(--spacer) 0;
  background: url(../../img/front-products.jpg) no-repeat center;
  background-size: cover;
}

.products-front h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 3rem;
}

.products-front .tabs {
  justify-content: center;
  border: none;
}

.products-front .tabs:before,
.products-front .tabs:after {
  display: none;
}

.products-front .filters-info,
.products-front .products-heading {
  display: none;
}

.products-front .button-wrap,
.news-front .button-wrap {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.products-front .button-wrap .button,
.news-front .button-wrap .button {
  font-size: 1.125rem;
  height: calc(var(--button-height) * 0.8);
  line-height: calc(var(--button-height) * 0.8);
}

.products-front .products-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 8rem;
}

.product-promo {
  position: relative;
  width: 20%;
  margin: 0 6% 2% 0;
  color: #fff;
}

.product-promo:before {
  content: '';
  position: absolute;
  top: -73px;
  left: -1px;
  width: 101%;
  height: 75px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='261' height='75' viewBox='0 0 262 75' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 74L261 2V74' stroke='%23EE0A0E' stroke-width='3'/%3E%3C/svg%3E%0A");
}

.product-promo:nth-child(4n) {
  margin-right: 0;
}

.product-promo__title {
  font-weight: 600;
  font-family: var(--font-extra);
  font-size: 1.75rem;
  padding: 2rem 0.625rem .8rem;
  border: 2px solid var(--base-color);
  border-top: none;
  display: block;
  color: white;
}

.product-promo__sign {
  margin: .5rem 0;
}

.product-promo .inline-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.product-promo .label {
  width: 50%;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.product-promo .value {
  width: 50%;
  text-align: right;
  font-size: 1.25rem;
}

.product-promo__full-price .value {
  color: var(--base-color);
  font-size: 22px;
  font-weight: 600;
}

.product-promo__full-price .value i {
  font-style: normal;
  border-bottom: 1px solid var(--base-color);
}

.clients-front {
  background: #fff;
  /*background: #fff url(https://anboil.ru/themes/custom/anb/assets/img/Render1222212.jpg) no-repeat top right;*/
  padding: var(--spacer) 0;
  background-size: cover;
}

.clients-front h2,
.news-front h2 {
  text-align: center;
}

.clients-front h2 span,
.news-front h2 span {
  color: var(--base-color);
}

.news-front {
  margin-top: var(--spacer);
  padding-bottom: var(--spacer);
  background: url(../../img/front-news.jpg) no-repeat bottom right;
}

.bottom-map iframe {
  display: block;
  width: 100%;
  height: 420px;
}

/* ------------------------- @Media ------------------------- */
@media screen and (max-width: 1320px) {
  .news-item {
    border-top: 2px solid var(--base-color);
  }
  .news-item__inner svg {
    display: none;
  }
  .news-item__photo {
    margin: 0;
  }
  .product-promo {
    border-top: 2px solid var(--base-color);
  }
  .product-promo:before {
    display: none;
  }
}

@media screen and (max-width: 1160px) {
  .front-text__content:before {
    display: none;
  }
  .front-text .node-page {
    padding: 0 2rem;
  }
  .products-front .products-items {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 960px) {
  .front-hero__slide > .container {
    height: auto;
    padding-top: 2rem;
    padding-bottom: 8rem;
  }
  .front-hero__slide h1 {
    font-size: 3rem;
  }
  .front-hero__slide h1 br {
    display: none;
  }
  .front-hero__slide .body .button {
    margin-top: 2rem;
  }
  .calcforms-front {
    width: 100%;
  }
  .front-calc-container.container {
    flex-direction: column;
  }
  .front-calc-results {
    width: 100%;
    margin-top: 2rem;
  }
  .front-text {
    padding: var(--spacer) 0;
  }
  .product-promo,
  .product-promo:nth-child(4n) {
    width: 100%;
    margin: 0 3.5% 3.5% 0;
  }
  .product-promo:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 720px) {
  .front-hero__slide > .container {
    padding: 2rem 15px 160px;
  }
  .front-hero__tabs__list {
    flex-direction: column;
    background: rgba(255, 255, 255, 0.5);
  }
  .front-hero__tab {
    width: 100%;
    margin: 0 0 .5rem 0;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    border: none;
  }
  .front-hero__tab:last-child {
    margin-bottom: 0;
  }
  .calcforms-front {
    padding: 1.5rem;
  }
  .front-calc-results .service__form {
    margin-top: 0;
  }
  .front-text .node-page {
    padding: 0;
  }
  .front-text .body ul li {
    width: 100%;
  }
  .services-front .services-front__heading {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .clients-front {
    /*background: #fff url(https://anboil.ru/themes/custom/anb/assets/img/Render1222212.jpg) no-repeat top left -180vw;*/
    /*background-size: cover;*/
 }
  .product-promo {
    width: 100%;
    margin: 0 0 2rem 0 !important;
  }
  .products-front .button-wrap {
    margin-top: 1rem;
  }
  .products-front {
    background: url(../../img/front-products-mob.jpg) no-repeat top;
    background-size: cover;
  }
}

@media screen and (max-width: 450px) {
    .front-hero__slide {
        background-position: top 0 right -90vw;
    }
    .front-hero__slide h1 {
        font-size: 2.3rem;
    }
    .front-hero__slide .body .button {
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    }
}
