/* ------------------------- Jobs ------------------------- */
.jobs {
  padding-bottom: var(--spacer);
}

.job {
  margin-bottom: 3.25rem;
  padding: 3.75rem;
  background-color: var(--gray-1);
}

.job:last-child {
  margin-bottom: 0;
}

.job-title {
  font-size: 1.5rem;
  font-family: var(--font-extra);
  margin-bottom: 1.5rem;
}

.job-city {
  position: relative;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
  color: var(--color-gray-base);
  padding-left: 35px;
}

.job-city:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 20px;
  height: 23px;
  background: var(--sprite) 0 -278px;
}

.job-description {
  margin-bottom: 2.5rem;
}

.job-description h3 {
  font-family: var(--base-font);
  font-size: 1.125rem;
}
