/* ------------------------- Production ------------------------- */
.production-page .top-content,
.production-page--term {
  background: url(../../img/front-products.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}

.production-page--term .top-content {
  background: transparent;
}

.production-page + .bottom-content {
  margin: 0;
}

.production-page h1 {
  color: #fff;
}

.production-page .breadcrumbs {
  margin-bottom: 3rem;
}

.products {
  margin-top: 4rem;
  margin-bottom: var(--spacer);
}

.filters .submit-wrap {
  display: none;
}

.filters-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
  margin-bottom: 3rem;
}

.filters-info__title {
  position: relative;
  display: inline-flex;
  font-weight: 600;
  font-family: var(--base-font);
  font-size: 1.625rem;
  padding-right: 60px;
  animation: fadeIn .4s ease;
}

.filters-info__title a {
  color: #fff;
}

.filters-info__title a:hover {
  color: var(--base-color);
}

.filters-info__title .count-circle {
  position: absolute;
  top: 50%;
  right: 0;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  line-height: 30px;
  border-radius: 50%;
  background-color: var(--base-color);
  color: #fff;
  font-family: var(--font-extra);
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
}

.filters-info__actions {
  display: flex;
}

.filters-info__action {
  display: block;
  margin-right: 1rem;
}

.filters-info__action:last-child {
  margin-right: 0;
}

.filters-info__button {
  font-size: 1.25rem;
}

.products-heading {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--background-dark);
  border-top: 1px solid #fff;
}

.products-heading:before,
.products-heading:after {
  content: '';
  position: absolute;
  top: -1px;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--background-dark);
  border-top: 1px solid var(--border-color);
}

.products-heading:after {
  left: auto;
  right: -100%;
}

.products-heading__item {
  display: block;
  font-size: 0.75rem;
  font-weight: 300;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 1.4rem 0;
  color: #fff;
}

.products-heading__item--title,
.product__info {
  width: 49%;
}

.product__info {
  padding-right: 1rem;
}

.products-heading__item--density,
.product__density {
  width: 14%;
}

.products-heading__item--item-price,
.product__item-price {
  width: 14%;
}

.products-heading__item--full-price,
.product__full-price {
  width: calc(23% - 60px);
}

.product {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1.375rem 0;
  background-color: #fff;
  transition: .2s ease;
}

.product:before,
.product:after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: .2s ease;
}

.product:after {
  left: auto;
  right: -100%;
}

.product__info {
  position: relative;
}

.product__photo img {
  display: block;
  border-radius: 3px;
}

.product__title {
  font-weight: 500;
}

.product__sign:empty {
  display: none;
}

.product__sign {
  font-size: 0.9375rem;
  line-height: 1.47;
  color: var(--color-gray);
  margin-top: .4rem;
}

.product__density,
.product__item-price {
  font-size: 1.0625rem;
}

.product__full-price span {
  font-weight: 600;
  font-size: 1.5625rem;
  border-bottom: 2px solid var(--base-color);
}

.product__add-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 2px solid var(--base-color);
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: .2s ease;
}

.product__add-cart:hover {
  background-color: var(--base-color);
}

.product__add-cart svg {
  position: relative;
  left: -1px;
}

.product__add-cart svg path {
  transition: .2s ease;
}

.product__add-cart:hover svg path {
  stroke: #fff;
}

.bottom-description {
  background: url(../../img/front-text.jpg) no-repeat center;
  background-size: cover;
  background-position: center 35%;
  color: #fff;
  padding: var(--spacer) 0;
}

/* ------------------------- Category page ------------------------- */
.category__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category__preview {
  width: 52%;
  color: #fff;
}

.category__meta {
  width: 24%;
  color: #fff;
}

.category__meta__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 0.9375rem;
  border: 1px solid #fff;
  margin-bottom: 1rem;
}

.category__meta__item:last-child {
  border: none;
  margin: 0;
}

.category__meta__item svg {
  margin-right: 1rem;
}

.category__meta__item--prices span {
  font-weight: 500;
}

.category__phone a {
  font-weight: 600;
  font-size: 1.5rem;
  font-family: var(--font-extra);
  color: #fff;
}

.category__phone a:hover {
  color: var(--base-color);
}

.category__meta__item--actions {
  flex-direction: column;
}

.category__action {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}

.category__action:last-child {
  margin-bottom: 0;
}

.category__button {
  padding: 0 .5rem;
  font-size: 1.25rem;
  margin: 0;
  width: auto;
}

.category__button.button--flat {
  padding: 0 2rem;
}

.category__products {
  margin-top: 3rem;
}

.category__description,
.category__route {
  position: relative;
  padding-top: var(--spacer);
  background-color: #fff;
}

.category__route:before,
.category__route:after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.category__route:after {
  left: auto;
  right: -100%;
}

.category__route {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category__route h2 {
  width: 100%;
}

.category__route__map #map {
  height: 100%;
}

.category__route__map {
  width: 74%;
}

.category__route__form {
  width: 24%;
  border: 1px solid var(--border-color);
}

.category__route .title {
  position: relative;
  padding: 1rem 1rem 1rem calc(1rem + 60px);
  line-height: 1.5;
  color: #fff;
  background-color: var(--background-dark);
}

.category__route .title svg {
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;
}

.category__route .title svg path {
  fill: #fff;
}

.category__route form {
  padding: 2rem 1rem;
}

.category__route input {
  height: calc(var(--button-height) * 0.9);
  line-height: calc(var(--button-height) * 0.9);
  font-size: 0.875rem;
}

.category__route input::placeholder {
  font-weight: 300;
}

.category__route .agreement-field label {
  font-size: 0.8125rem;
  font-weight: 300;
}

.category__route input[type="checkbox"] {
  width: 21px;
  height: 21px;
  border: 1px solid var(--base-color);
}

.category__route form .form-actions {
  width: 100%;
}

.category__route .submit-wrap {
  display: flex;
  justify-content: center;
}

.cities-block {
  padding-bottom: var(--spacer);
}

.cities-block__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 3rem;
}

.cities-block-item {
  position: relative;
  width: 20%;
  padding-right: 1rem;
  padding-left: 3.25rem;
}

.cities-block-item__character {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: var(--base-color-light);
  border-radius: 50%;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
}

.cities-block-item__cities {
  font-size: 0.875rem;
}

.cities-block-item__city {
  display: block;
  margin-bottom: 10px;
}

.cities-block-item__city:nth-child(6) ~ li {
  display: none;
}

.cities-block-item__cities.is-expanded .cities-block-item__city {
  display: block;
}

.cities-block-item__city a {
  color: var(--base-font-color);
}

.cities-block-item__city a:hover {
  color: var(--base-color);
}

.cities-block__toggler {
  font-size: 14px;
  cursor: pointer;
  transition: .2s ease;
}

.cities-block__toggler:hover {
  color: var(--base-color);
}

.cities-block__toggler i {
  font-style: normal;
}

.cities-block__toggler svg {
  position: relative;
  top: -2px;
  left: 5px;
}

.cities-block__toggler.is-active svg {
  transform: rotate(180deg);
}

/* ------------------------- @Media ------------------------- */
@media screen and (max-width: 1160px) {
  .category__preview {
    width: 100%;
  }
  .category__iframe_evr{
      display: none;
  }
  .production-page h1 {
    margin-bottom: 1rem;
  }
  .production-page h1 br {
    display: none;
  }
  .category__meta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
  }
  .category__meta__item {
    width: 32%;
  }
  .category__meta__item:last-child {
    padding: 0;
  }
  .category__route__map {
    width: 100%;
  }
  .category__route__map #map {
    height: 420px;
  }
  .category__route__form {
    width: 100%;
    margin-top: 1rem;
  }
  .category__route form {
    flex-direction: column;
  }
  .category__route form .form-item,
  .category__route form .form-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 960px) {
  .category__meta__item {
    width: 100%;
  }
  .category__meta__item--actions {
    flex-direction: row;
  }
  .category__action {
    width: auto;
    margin-bottom: 0;
  }
  .product__full-price span {
    font-size: 1.2rem;
  }
  .cities-block-item {
    width: 33.333333%;
    margin-bottom: 2rem;
  }
  .filters-info {
    padding-top: 2rem;
  }
  .filters-info__actions {
    width: 100%;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 720px) {
  .cities-block-item {
    width: 100%;
  }
  .production-page .top-content, .production-page--term {
    background: var(--background-dark);
  }
  .category__meta__item--actions {
    flex-direction: column;
  }
  .category__action:not(:last-child) {
    margin-bottom: 1rem;
  }
  .products-heading {
    display: none;
  }
  .product {
    position: relative;
  }
  .product,
  .product:before, .product:after{
    border-bottom: 1px solid var(--border-color);
  }
  .product__info {
    width: 100%;
    padding: 0 70px 0 0;
    margin-bottom: 1rem;
  }
  .product .label {
    display: block !important;
  }
  .product__density,
  .product__item-price,
  .product__full-price {
    width: 33%;
    font-size: 0.9375rem;
    padding: 0 5px;
  }
  .product__full-price .label {
    font-weight: 400;
    border: none;
  }
  .product__full-price span {
    font-weight: 500;
    font-size: 0.9375rem;
  }
  .product__add-cart {
    position: absolute;
    top: 1.2rem;
    right: 0;
    width: 45px;
    height: 45px;
  }
  .category__route__map #map {
    height: 250px;
  }
  .filters-info__actions {
    flex-wrap: wrap;
  }
  .filters-info__action {
    width: 100%;
    margin: 0 0 1rem 0;
  }
  }
