/* ------------------------- Services ------------------------- */
.service {
  background-color: #fff;
  margin-top: 3rem;
}

.service__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2.5rem 5rem;
  align-items: center;
  background-color: #F1F1F1;
}

.service__top h1 {
  position: relative;
  width: 50%;
  font-size: 1.9375rem;
  line-height: 1.45;
  text-transform: uppercase;
  padding-left: 75px;
  margin: 0;
}

.service__top h1:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 50px;
  height: 50px;
  background: var(--sprite) 0 -339px;
}

.service .calc-description {
  width: 50%;
  padding-left: 2rem;
  font-size: 0.9375rem;
  line-height: 1.6;
}

.service__calculator {
  position: relative;
  padding: 2.5rem 5rem;
  background-color: var(--base-color-light);
}

.service__actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service__results {
  width: 66%;
  padding: 2rem 2rem 2rem 35%;
  background: url(../../img/service-results.png) no-repeat left center;
}

.service__form {
  position: relative;
  width: 34%;
  padding: 2.5rem;
  background-color: var(--color-gray);
  color: #fff;
}

.service-heading {
  font-family: var(--font-extra);
  font-size: 2.125rem;
  margin-bottom: 1rem;
}

.service__results__title {
  font-family: var(--base-font);
  font-weight: 600;
  font-size: 1.25rem;
}

.service__results__data .row:not(:last-child) {
  margin-bottom: 1.5rem;
}

.service__results__data .title {
  font-weight: 300;
  color: var(--color-gray);
  font-size: 11px;
  line-height: 1.8;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.service__results__data .value {
  font-family: var(--font-extra);
  font-weight: 600;
  font-size: 3rem;
  color: var(--base-color);
}

.service__results__data .value i {
  font-style: normal;
  font-size: .7em;
}

.bottom-description {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: url(../../img/bottom.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
}

.services-full,
.services-front {
  padding-bottom: var(--spacer);
  background: url(../../img/services.jpg) no-repeat bottom left;
}

.services-tabs-items {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
}

.tabs-custom .tab {
  font-family: var(--font-extra);
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: .5rem 1rem;
  border: 1px solid var(--base-color);
  margin: 0 -1px 0 0;
  transition: .2s ease;
}

.tabs-custom .tab::selection {
  background-color: transparent;
}

.tabs-custom .tab:hover {
  color: var(--base-color);
}

.tabs-custom .tab.is-active {
  background-color: var(--base-color);
  color: #fff;
}

.service-teaser.is-visible {
  position: relative;
  display: flex;
}

.service-teaser-content {
  width: calc(100% - 750px);
  padding-top: 4rem;
  padding-right: 2rem;
}

.service-teaser__description {
  max-width: 420px;
}

.service-teaser__button {
  margin-top: 7rem;
}

.service-teaser__photo {
  width: 750px;
  margin-top: -3.125rem;
}

.calcforms {
  background: url(../../img/calcs.jpg) no-repeat center;
  background-size: cover;
}

.services-page {
  margin-top: var(--spacer);
}

.services-page .body ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.services-page .body ul li {
  display: block;
  width: 48%;
}

/* ------------------------- @Media ------------------------- */
@media screen and (max-width: 1160px) {
  .service-teaser__photo {
    position: absolute;
    top: 0;
    right: 0;
    opacity: .2;
  }
  .service-teaser-content {
    width: 100%;
    padding-right: 0;
  }
  .services-full {
    overflow: hidden;
  }
  .service__top {
    padding: 3rem;
  }
  .service__top h1 {
    width: 100%;
  }
  .service .calc-description {
    width: 100%;
    padding: 0;
    margin-top: 2rem;
  }
  .service__calculator {
    padding: 2rem 0;
  }
}

@media screen and (max-width: 960px) {
  .service__results {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .service__form {
    width: 100%;
    margin-top: 2rem;
  }
  .services-page .body ul li {
    width: 100%;
    margin-bottom: 1rem;
  }
  .service .service__results {
    background: transparent;
    padding: 2rem 0;
  }
}

@media screen and (max-width: 720px) {
  .service-teaser__photo {
    display: none;
  }
  .tabs-custom .tab {
    width: 100%;
    margin: 0 0 -1px 0;
  }
  .service-teaser-content {
    padding-top: 2rem;
  }
  .service-teaser__button {
    margin-top: 2rem;
  }
  .service__top {
    padding: 2rem;
  }
  .service__top h1 {
    padding-left: 0;
    margin-bottom: 0;
  }
  .service__top h1:before {
    display: none;
  }
  .service .calc-description {
    margin-top: 1rem;
  }
}
