/* ------------------------- Footer ------------------------- */
.footer {
  padding: 3.125rem 0 2rem;
  background-color: var(--background-dark);
  color: #fff;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-menu,
.footer-contacts__wrap {
  width: 60%;
}

.footer-menu .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-menu .menu li {
  display: block;
}

.footer-menu .menu li a {
  font-size: 0.8125rem;
  color: #fff;
}

.footer-menu .menu li a:hover,
.footer-menu .menu li a.is-active {
  color: var(--base-color);
}

.footer .social-messengers,
.footer-contacts__address {
  width: 32%;
}

.social-messengers {
  display: flex;
  align-items: center;
}

.social-messenger {
  display: block;
}

.social-messenger:not(:last-child) {
  margin-right: 1.375rem;
}

.social-messenger svg path,
.social-messenger svg circle {
  transition: .3s ease;
}

.social-messenger:hover svg path {
  fill: var(--base-color);
}

.social-messenger:hover svg circle {
  stroke: var(--base-color);
}

.footer-contacts {
  margin-top: 3.5rem;
}

.footer-contacts__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-contacts__wrap {
  display: flex;
  flex-wrap: wrap;
}

.footer-contacts__phone a {
  color: #fff;
  font-family: var(--font-extra);
  font-size: 2.1875rem;
  line-height: 2.1875rem;
}

.footer-contacts__email a {
  font-size: 1.25rem;
}

.footer-contacts .footer-column {
  margin-right: 4rem;
}

.footer-contacts__address__sign {
  font-weight: 300;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.footer-contacts__address__value {
  font-style: normal;
  font-size: 1.0625rem;
  margin-top: 5px;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  margin-top: 4.0625rem;
  font-size: 0.9375rem;
  color: #4F4F4F;
  font-weight: 400;
}

.footer-copyright a {
  color: #4F4F4F;
}

.footer-copyright a:hover {
  color: var(--base-color);
}

/* ------------------------- @Media ------------------------- */
@media screen and (max-width: 1160px) {
  .footer-menu {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .footer-contacts .footer-column {
    width: 100%;
    margin: 0 0 1rem 0;
  }
}

@media screen and (max-width: 720px) {
  .footer-contacts {
    margin-top: 2rem;
  }
  .footer-copyright {
    margin-top: 2rem;
  }
  .footer-contacts__wrap {
    width: 100%;
  }
  .footer-contacts__address {
    margin-top: 2rem;
    width: 100%;
  }
  .footer-copyright {
    flex-direction: column;
  }
  .footer-copyright__policy {
    margin-top: .5rem;
  }
}
