/* ------------------------- Header ------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 8;
  height: var(--header-height);
  background-color: #fff;
}

/*.header:before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    background-image: url(https://41sp-new.ru/files/4b0/4b05b5d805ebdb8dada6a6dcaa4013c8.png);*/
/*}*/

.toolbar-fixed .header {
  top: 79px;
}

/* ------------------------- Header navigation ------------------------- */
.header-top {
  background-color: var(--background-dark);
  color: #fff;
}

.header-top__content,
.header-bottom__content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 400px;
}

.header-top__content {
  padding-top: 3px;
  padding-bottom: 3px;
  z-index: 2;
}

.header .branding {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  padding: 1rem 0;
  background-color: var(--base-color);
}

.header .branding:before {
  content: '';
  position: absolute;
  top: 0;
  left: -99%;
  width: 100%;
  height: 100%;
  background-color: var(--base-color);
}

.header .branding:after {
  content: '';
  position: absolute;
  top: 0;
  right: -25px;
  width: 60px;
  height: 100%;
  background-color: var(--base-color);
  transform: skew(-20deg);
}

.branding__logo {
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.branding__sitename {
  position: relative;
  z-index: 2;
  color: #fff;
  font-weight: 500;
  font-size: 0.8125rem;
  text-transform: uppercase;
  line-height: 1.8;
  max-width: 120px;
  margin-left: 1rem;
}

.header-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-actions__item {
  display: none;
}

/*.header-actions__item:nth-child(1), .header-actions__item:nth-child(2) {*/
/*    display: none;*/
/*}*/

.header-actions__item:not(:last-child) {
  margin-right: 4.5rem;
}

.header-actions__link {
  position: relative;
  display: block;
  padding-left: 2rem;
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  cursor: pointer;
  transition: .2s ease;
  color: #fff;
}

.header-actions__link:hover {
  color: var(--base-color);
}

.header-actions__link svg {
  position: absolute;
  top: 0;
  left: 0;
}

.header-actions__link svg path {
  transition: .2s ease;
}

.header-actions__link:hover svg path {
  stroke: var(--base-color);
}

.header-actions__link[data-modal="consultmodal"]:hover svg path {
  fill: var(--base-color);
}

.header-phone {
  display: flex;
  align-items: center;
}

.header-phone a {
  position: relative;
  padding-left: 1.125rem;
  font-family: var(--font-extra);
  font-size: 1.4375rem;
  letter-spacing: 0.1px;
  color: #fff;
}

.header-phone a:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  border-radius: 50%;
  background-color: var(--base-color);
}

.header-phone__sign {
  font-size: 0.875rem;
  color: var(--color-gray);
  margin-left: 1.625rem;
}

.header-bottom__content {
  height: 78px;
}

.header-menu > .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0.8125rem;
}

.header-menu > .menu > li {
  display: block;
}

.header-menu > .menu > li:not(:last-child) {
  margin-right: 2rem;
}

.header-menu > .menu a {
  display: flex;
  color: var(--background-dark);
}

.header-menu > .menu > li > a {
  padding: 1rem 0;
}

.header-menu > .menu a:hover,
.header-menu > .menu a.is-active {
  color: var(--base-color);
}

.header-menu li.has-childs > a:after {
  content: '';
  display: block;
  margin: 6px 0 0 10px;
  width: 10px;
  height: 6px;
  background: var(--sprite) 0 0;
}

.header-menu li.has-childs {
  position: relative;
}

.header-menu li.has-childs ul {
  display: none;
  position: absolute;
  top: calc(100%);
  left: 0;
  width: 300px;
  background-color: #fff;
  border: 1px solid var(--border-color);
  box-shadow: 0 2px 4px rgba(181, 179, 179, 0.25);
  z-index: 9;
  transition: opacity .2s ease;
}

.header-menu li.has-childs ul li {
  display: block;
}

.header-menu li.has-childs:hover ul {
  display: block;
  animation: fadeIn .2s ease;
}

.header-menu li.has-childs ul li a {
  display: block;
  padding: 15px 20px;
  border-bottom: 1px solid var(--border-color);
}

.header-menu li.has-childs ul li:last-child a {
  border-bottom: 0;
}

.header-menu li.has-childs ul li a:hover {
  background-color: var(--base-color-light);
}

.header-search {
  margin: 3px 0 0 auto;
  position: relative;
  right: 1.5rem;
  display: none;
}

.header-account li {
  display: block;
}

.header-account a {
  font-weight: 500;
}

/* ------------------------- @Media ------------------------- */
@media screen and (max-width: 1320px) {
  .header-actions__item:not(:last-child) {
    margin-right: 2.2rem;
  }
  .header .branding {
    padding: 7px 0;
    width: 270px;
  }
  .header-top__content, .header-bottom__content {
    padding-left: 345px;
  }
  .header-bottom__content {
    height: 60px;
  }
  .header-menu > .menu > li:not(:last-child) {
    margin-right: 1.7rem;
  }
  .header-search {
    right: 1rem;
  }
}

@media screen and (max-width: 1160px) {
  .header-menu {
    position: fixed;
    top: 0;
    left: -110%;
    width: 300px;
    height: 100%;
    z-index: 9;
    background-color: #fff;
    padding: 2rem;
    border-right: 1px solid var(--border-color);
    overflow-y: scroll;
    transition: left .3s ease;
  }
  .header-menu.is-visible {
    left: 0;
  }
  .header-menu > .menu {
    flex-direction: column;
  }
  .header-menu > .menu > li:not(:last-child) {
    margin: 0;
  }
  .header-menu li.has-childs > a:after {
    display: none;
  }
  .header-menu li.has-childs ul {
    display: block;
    position: static;
    width: 100%;
    border: none;
    box-shadow: none;
  }
  .header-menu li.has-childs ul li a {
    border: none;
    padding: 10px 20px;
  }
  .header-menu__close.close-icon {
    position: relative;
    top: 0;
    right: 0;
    display: block !important;
    margin-bottom: 1rem;
  }
  .header-phone__sign {
    display: none;
  }
  .header-menu__trigger {
    display: block !important;
  }
  .header-menu__trigger svg {
    display: block;
  }
}

@media screen and (max-width: 960px) {
  .header-actions {
    display: none;
  }
  .header-phone {
    margin: 0 0 0 auto;
  }
}

@media screen and (max-width: 720px) {
  .header-top__content, .header-bottom__content {
    padding-left: 15px;
  }
  .header .branding:after {
    display: none;
  }
  .header .branding {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    padding-right: 15px;
  }
  .branding__logo {
    padding-left: 0;
  }
  .branding__logo img {
    width: 60px;
  }
  .branding__sitename {
    display: none;
  }
  .header-phone a {
    font-size: 1rem;
  }
  .header-account a {
    font-size: 0.875rem;
  }
  .header-top__content {
    padding-top: 0;
    padding-bottom: 0;
  }
  .header-bottom__content {
    height: 48px;
  }
  .header-search {
    right: 2rem;
  }
}
