{% if content %}
  {% block region %}
    <div{{ attributes.addClass(region) }}>
      {% block content %}
        <div class="{{ region ~ '__content' }}">
          {{ content }}
        </div>
      {% endblock %}
    </div>
  {% endblock %}
{% endif %}
