{#
/**
 * @file
 * Default theme implementation to present fueld residues account page.
 */
#}
{% set class = "fuel-residues" %}
<div class="{{ class }} is-loading">
  <span class="loading-placeholder">
    <span class="ajax-progress-throbber"></span>
  </span>
</div>
