/* ------------------------- Form elements ------------------------- */
.contact-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contact-form .messages--error {
  display: none;
}

.contact-form .container {
  padding: 0;
}

.form-item {
  margin-bottom: 25px;
}

.form-item label {
  display: block;
  margin-bottom: .2rem;
}

.form-item .description {
  margin-top: .5rem;
  font-size: 0.825rem;
  color: var(--color-gray);
}

input,
textarea,
.filefield label,
 select {
  display: block;
  width: 100%;
  font-family: var(--base-font);
  height: var(--button-height);
  line-height: var(--button-height);
  border: 1px solid var(--background-dark);
  color: var(--base-font-color);
  background-color: #fff;
  padding: 0 1.25rem;
  border-radius: 0;
  font-size: 0.9375rem;
  transition: .2s ease;
}

textarea {
  padding: 1.25rem;;
  height: 170px;
  line-height: 1.4;
}

input::placeholder,
 select::placeholder {
  color: var(--color-gray);
}

input:hover,
 select:hover {
  border-color: var(--base-color);
}

input:focus,
 select:focus {
  border-color: var(--base-color);
  box-shadow: 0 0 0 4px var(--base-color-light);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input.error,
textarea.error {
  border: 1px solid var(--base-color);
}

.js-form-type-radio,
.js-form-type-checkbox {
  position: relative;
  padding-left: 30px;
}

input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  transition: none;
}

input[type="radio"]:checked {
  background: #fff var(--sprite) 5px -201px;
  border-color: var(--base-color);
}

input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 1px solid var(--border-color);
}

input[type="checkbox"]:checked {
  transition: none;
  background: #fff var(--sprite) 5px -201px;
  border-color: var(--base-color);
}

.agreement-field .form-item {
  padding-left: 35px;
}

.agreement-field label {
  position: relative;
  display: block;
  font-size: 1.0625rem;
  line-height: 1.4;
  font-weight: 300;
  transition: opacity .2s ease;
}

.agreement-field input {
  cursor: pointer;
  top: 4px;
}

.form-item-calctype{display: none!important}

/* ------------------------- Modal forms ------------------------- */
.modals {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.modals.is-visible {
  display: flex;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  z-index: 100;
}

.modals.is-visible .modal-overlay {
  display: block;
  animation: fadeIn .4s ease;
}

.modal-form {
  position: relative;
  display: none;
  width: 460px;
  height: auto;
  padding: 2rem 3rem;
  background-color: #fff;
  box-shadow: 0 2px 20px rgba(209, 208, 208, 0.25);
  z-index: 101;
}

.modal-form.is-visible {
  display: block;
}

.modal-form__heading {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}

.modal-form .form-item {
  margin-bottom: 15px;
}

.modal-form input[type="text"],
.modal-form input[type="email"],
.modal-form input[type="tel"]{
  height: calc(var(--button-height) * 0.8);
  line-height: calc(var(--button-height) * 0.8);
}

.modal-form textarea {
  height: 100px;
}

.modal-form .form-actions {
  width: 100%;
}

#orderform.modal-form .form-actions {
  display: flex;
  flex-direction: column-reverse;
}

.modal-form .agreement-field label {
  font-size: 0.875rem;
}

.modal-form .agreement-field input {
  width: 21px;
  height: 21px;
  border: 1px solid var(--base-color);
}

.modal-form .submit-wrap {
  display: flex;
  justify-content: center;
}

.close-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: var(--base-color);
  color: #fff;
  line-height: 40px;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  transition: background-color .2s ease;
  z-index: 9;
}

.close-icon:hover {
  background-color: var(--base-color-hover);
}

/* ------------------------- Filefield ------------------------- */
.filefield {
  width: 100%;
}

.filefield .js-form-managed-file {
  position: relative;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.filefield input {
  display: none;
}

.filefield .file~input[name*="remove_button"] {
  display: block;
  line-height: 30px;
  height: 30px;
  font-size: 0.94rem;
  width: auto;
  margin: 0 0 0 1rem;
  padding: 0 1rem;
}

.filefield label {
  position: relative;
  margin: 0;
  border: 2px dashed rgba(0, 0, 0, .2);
  background-color: transparent;
  color: #fff;
  line-height: calc(var(--button-height) - 4px);
  border-radius: 3px;
  cursor: pointer;
}

.filefield label:hover {
  border-color: rgba(0, 0, 0, .6);
}

/* ------------------------- Question form block ------------------------- */
.questionblock {
  padding: var(--spacer) 0;
  background: url(../../img/questionform.jpg) no-repeat center;
  background-size: cover;
}

.is-front .questionblock {
  background-image: url(../../img/questionfront.jpg);
}

.questionblock__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.questionblock .body {
  width: 34%;
  margin-top: -1rem;
  color: #fff;
}

.questionblock .body em {
  font-family: var(--font-extra);
  font-style: normal;
  font-size: 3.875rem;
  line-height: 1.3;
}

.questionblock .body em u {
  text-decoration: none;
  color: var(--base-color);
}

.questionblock .body p:last-child {
  margin-top: 2rem;
  font-size: 1.875rem;
  line-height: 1.5;
}

.questionblock .body p:last-child strong {
  font-weight: 600;
}

.questionblock .body p:last-child u {
  color: var(--base-color);
  text-decoration: none;
}

.questionblock form {
  width: 63.5%;
}

.questionblock form > .form-item,
.questionblock form > .form-wrapper {
  width: 48.5%;
}

.questionblock input[type="text"],
.questionblock input[type="tel"],
.questionblock input[type="email"],
.questionblock textarea,
.service__form input[type="text"],
.service__form input[type="tel"],
.service__form input[type="email"],
.service__form textarea{
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.service__form input::placeholder {
  color: #fff;
}

.service__form .field--name-message {
  display: none;
}

.service__form .agreement-field label {
  font-size: 0.8125rem;
  font-weight: 300;
  line-height: 1.7;
}

.questionblock input.error::placeholder,
.questionblock textarea.error::placeholder {
  color: var(--base-color-hover);
}

.service__form input.error {
  border-color: var(--base-color);
}

.questionblock input:focus,
.questionblock textarea:focus {
  border-color: var(--base-color);
  box-shadow: none;
}

.questionblock input[type="checkbox"] {
  height: 20px;
}

.questionblock .form-wrapper.field--type-string-long {
  width: 100%;
}

.questionblock .form-wrapper.form-actions {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.questionblock .form-actions .button {
  width: auto;
}

.questionblock .agreement-field .form-item {
  margin-bottom: 0;
  color: #fff;
}

.questionblock .agreement-field input {
  box-shadow: none;
}

.service__form .form-actions {
  width: 100%;
}

.service__form .submit-wrap {
  display: flex;
  justify-content: center;
}


/* ------------------------- Calculator forms ------------------------- */
.calculator-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1.375rem;
}

.calculator-form input,
.calculator-form .button {
  height: 45px;
}

.value-form-field {
  padding-left: 57px;
  background: var(--sprite) 7px -420px;
}

.time-form-field {
  padding-left: 57px;
  background: var(--sprite) 7px -479px;
}

.point-form-field {
  padding-left: 57px;
  background: var(--sprite) 7px -536px;
}

.calculator-form .form-item {
  position: relative;
  width: 36%;
  margin: 0;
}

.city-tips {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid var(--border-color);
  font-size: 0.875rem;
  z-index: 9;
  color: var(--base-font-color);
}

.city-tips.is-empty {
  padding: 15px;
}

.city-tip {
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
  transition: .2s ease;
}

.city-tip:last-child {
  border: none;
}

.city-tip:hover {
  background-color: var(--base-color-light);
}

.calculator-form .submit-wrap {
  display: flex;
  width: 22%;
}

.calculator-form .submit-wrap .button--fake {
  display: none;
}

.calculator-form .form-submit[disabled]:hover {
  color: var(--base-color);
}

.calcforms .calculators {
  padding: 3.875rem 7rem;
  color: #fff;
}

.calculators .calculator-form {
  position: relative;
  padding: 0;
}

.calculators__heading {
  position: relative;
  padding-left: 75px;
  font-weight: 600;
  font-family: var(--font-extra);
  font-size: 1.5625rem;
  margin-bottom: 2rem;
}

.calculators__heading:before {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  width: 50px;
  height: 50px;
  background: var(--sprite) 0 -339px;
}

.calculators__heading i {
  display: block;
  font-style: normal;
  color: var(--base-color);
}

.calculators__heading .tab {
  color: #fff;
  border-bottom: 1px solid transparent;
  transition: .2s ease;
}

.calculators__heading .tab.is-active {
  color: #fff;
  border-color: #fff;
}

.calcforms .calculators__form input[type="number"],
.calcforms .calculators__form input[type="text"] {
  border-color: #fff;
  color: #fff;
  font-size: 1.0625rem;
  font-weight: 300;
}

.calcforms .calculators__form input::placeholder {
  color: #fff;
}

.calcforms .point-form-field {
  background: var(--sprite) 7px -722px;
}

.calcforms .value-form-field {
  background: var(--sprite) 7px -606px;
}

.calcforms .time-form-field {
  background: var(--sprite) 7px -666px;
}

.calculators .service__actions {
  margin-top: 3rem;
}

.calculators .service__results {
  padding-left: 0;
  background: transparent;
}
/* calculators addon */
.delivery-disclamer{
	width: 100%;
	margin-top: 5px;
	color: var(--color-gray);
}
.deliveryresult-disclamer p{
	color: var(--color-gray);
	margin-bottom: 1rem;
}
.deliveryresult-disclamer a{
	color: var(--base-font-color);
}

/**/
.service .lower{font-size: 0.7em}

/* ------------------------- User forms ------------------------- */
.user-pass .submit-wrap {
  margin-top: 1rem;
}

/* ------------------------- @Media ------------------------- */
@media screen and (max-width: 1320px) {
  .questionblock .body em {
    font-size: 2.5rem;
  }
  .questionblock .body p:last-child {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1160px) {
  .calcforms .calculators {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 960px) {
  .calculator-form .form-item,
  body[data-calc="pereval"] .service .service__calculator .form-item-value{
    width: 100%;
    margin: 0 0 1rem 0;
  }
  .calculator-form .submit-wrap {
    width: 100%;
  }
  .calculator-form input, .calculator-form .button {
    width: 100%;
  }
}

@media screen and (max-width: 720px) {
  .questionblock .body {
    width: 100%;
    margin-top: 0;
  }
  .questionblock .body em {
    font-size: 2rem;
  }
  .questionblock .body p:last-child {
    margin-top: -.5rem;
    font-size: 1rem;
  }
  .questionblock .body p:last-child br {
    display: none;
  }
  .questionblock form {
    width: 100%;
    margin-top: 2rem;
  }
  .questionblock form > .form-item, .questionblock form > .form-wrapper {
    width: 100%;
  }
  .questionblock .form-wrapper.form-actions {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .questionblock .form-wrapper.form-actions .submit-wrap {
    margin-top: 1rem;
  }
  .modal-form {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
}
